In [1]:
# import dependencies
import os
import pandas as pd

In [2]:
# retrieve csv file
csv_flat = "ph_data_flat.csv"
csv_date = "ph_data_date.csv"
json_flat = "pet_pals/static/data/ph_flat.json"
json_date = "pet_pals/static/data/ph_date.json"
data_flat = pd.read_csv(csv_flat, sep=",", header=0, skip_blank_lines=False)
data_date = pd.read_csv(csv_date, sep=",", header=0, skip_blank_lines=False)

In [3]:
print(data_flat.head())
print(data_date.head())

    Date Source Type Source ID  Source Detail  Reading
0  43042          MW         1              5     7.07
1  43042          MW         1             10     6.12
2  43042          MW         1             15     5.59
3  43042          MW         2              5     6.05
4  43042          MW         2             10     6.12
       Date  MW-1-5  MW-1-10  MW-1-15  MW-2-5  MW-2-10  MW-2-15  MW-3-5  \
0   11/3/17    7.07     6.12     5.59    6.05     6.12     6.11    6.62
1  11/29/17    4.00     4.35     4.38    6.22     6.20     6.19    5.77
2  12/13/17    5.37     5.64     5.51    6.63     6.38     6.33    6.08
3  12/29/17    5.40     5.45     5.37    6.47     6.50     6.46    6.12
4   1/11/18    6.55     6.33     6.14    6.78     6.59     6.52    6.72

   MW-3-10  MW-3-15  ...  S-PT-25  S-PT-30  SW-BRIDGE-1  SW-CONFLUENCE-1  \
0     6.47     6.34  ...     5.47      NaN          NaN              NaN
1     5.94     5.96  ...     5.97     5.93          NaN              NaN
2     6.16     6.18  ...     6.37     6.39          NaN              NaN
3     6.29     6.31  ...     6.57     6.56          NaN              NaN
4     6.53     6.43  ...     6.50     6.48          NaN              NaN

   CAL-STT-4  CAL-STT-7  CAL-STT-10  CAL-STP-4  CAL-STP-7  CAL-STP-10
0        NaN        NaN         NaN        NaN        NaN         NaN
1        NaN        NaN         NaN        NaN        NaN         NaN
2        NaN        NaN         NaN        NaN        NaN         NaN
3        NaN        NaN         NaN        NaN        NaN         NaN
4        NaN        NaN         NaN        NaN        NaN         NaN

[5 rows x 66 columns]

In [4]:
df_flat = pd.DataFrame(data=data_flat)
df_date = pd.DataFrame(data=data_date)

In [5]:
print(df_flat.head())
print(df_date.head())

    Date Source Type Source ID  Source Detail  Reading
0  43042          MW         1              5     7.07
1  43042          MW         1             10     6.12
2  43042          MW         1             15     5.59
3  43042          MW         2              5     6.05
4  43042          MW         2             10     6.12
       Date  MW-1-5  MW-1-10  MW-1-15  MW-2-5  MW-2-10  MW-2-15  MW-3-5  \
0   11/3/17    7.07     6.12     5.59    6.05     6.12     6.11    6.62
1  11/29/17    4.00     4.35     4.38    6.22     6.20     6.19    5.77
2  12/13/17    5.37     5.64     5.51    6.63     6.38     6.33    6.08
3  12/29/17    5.40     5.45     5.37    6.47     6.50     6.46    6.12
4   1/11/18    6.55     6.33     6.14    6.78     6.59     6.52    6.72

   MW-3-10  MW-3-15  ...  S-PT-25  S-PT-30  SW-BRIDGE-1  SW-CONFLUENCE-1  \
0     6.47     6.34  ...     5.47      NaN          NaN              NaN
1     5.94     5.96  ...     5.97     5.93          NaN              NaN
2     6.16     6.18  ...     6.37     6.39          NaN              NaN
3     6.29     6.31  ...     6.57     6.56          NaN              NaN
4     6.53     6.43  ...     6.50     6.48          NaN              NaN

   CAL-STT-4  CAL-STT-7  CAL-STT-10  CAL-STP-4  CAL-STP-7  CAL-STP-10
0        NaN        NaN         NaN        NaN        NaN         NaN
1        NaN        NaN         NaN        NaN        NaN         NaN
2        NaN        NaN         NaN        NaN        NaN         NaN
3        NaN        NaN         NaN        NaN        NaN         NaN
4        NaN        NaN         NaN        NaN        NaN         NaN

[5 rows x 66 columns]

In [6]:
# export as json file
df_flat.to_json(json_flat)
df_date.to_json(json_date)